body, html {
	margin: 0;
    padding: 0;
    height: 100%;
}

.main-container {
	display: flex;
	justify-content: center;
	align-items: center;
}

#hex-grid {
	position: relative;
	width: 100vw;
    height: 100vh;
    transform: translate(0, 0);
    transition: transform 0.3s ease; 
}

.hex-tile {
	position: absolute;
	width: 86.6px;
	height: 100px;
	clip-path: polygon(50% 0%, 100% 25%, 100% 75%, 50% 100%, 0% 75%, 0% 25%);
	text-align: center;
	color: #333;
	text-align: center;
    font-weight: bold;
	font-size: 0.6rem;
	transition: background-color 0.3s ease;
	display: flex;
	align-items: center;
	justify-content: center;
	
	}

.hex-tile:hover {
	cursor: pointer;
	
}
.message-area{
  position: fixed;
  top: 20px; /* 상단에서 20px 아래 */
  left: 50%; /* 수평 가운데 정렬 기준 */
  transform: translateX(-50%); /* 가운데 정렬 */
  z-index: 1000;
  display: flex;
  align-items: center;
  gap: 10px;
}


.deck-area{
	display: none;
}

#score-area-player{
	position: fixed;
	top: 3px;
	left:220px;

}

#score-area-opponent{
	position: fixed;
	top: 3px;
	right:220px;

}

#card-deck-player {
	width: 300px;
	height: 100%;
	background-color: rgba(240, 242, 245, 0.9);
	position: fixed;
	top: 0;
	left: 0;
	overflow-y: auto;
	text-align: center;

	}



#card-deck-opponent {
	width: 300px;
	height: 100%;
	background-color: rgba(240, 242, 245, 0.9);
	position: fixed;
	top: 0;
	right: 0;
}

.card{
	border: 1px solid black;
	margin: 5px 0;
	border-radius: 60px;
	font-size: 14px;
	
	width: 300px;
	padding: 10px;
box-sizing: border-box;
}

.fungus-canvas {
  width: 100%;
  height: 200px;
  display: block;
  box-sizing: border-box;
}

.fungus-detail {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100px;
  padding: 10px;
  border-radius: 8px;
  position: relative;
}

.subtext {
  font-style: italic;
  color: #555;
  margin-left: 5px;
  font-size: 13px;
}

.fungus-icon {
  width: 30px;
  height: auto;
  margin-bottom: 5px;
}

.fungus-name {
  font-weight: bold;
  text-align: center;
  font-size: 10px;
}

.fungus-score {
  font-size: 14px;
  font-weight: bold;
  text-align: center;
  animation: pulse 1.2s ease-in-out;
}

.fungus-score.negative {
  color: red;
}

@keyframes pulse {
  0% { transform: scale(1); opacity: 0.7; }
  50% { transform: scale(1.3); opacity: 1; }
  100% { transform: scale(1); opacity: 0.7; }
}