body, html {
	margin: 0;
    padding: 0;
    height: 100%;
}

.main-container {
	display: flex;
	justify-content: center;
	align-items: center;
}

#hex-grid {
	position: relative;
	width: 100vw;
    height: 100vh;
    transform: translate(0, 0);
    transition: transform 0.3s ease; 
}

.hex-tile {
	position: absolute;
	width: 86.6px;
	height: 100px;
	clip-path: polygon(50% 0%, 100% 25%, 100% 75%, 50% 100%, 0% 75%, 0% 25%);
	background-color: #f0f2f5;
	text-align: center;
	color: #333;
	text-align: center;
    line-height: 100px;
    font-weight: bold;
	font-size: 0.6rem;
	}

.hex-tile:hover {
	cursor: pointer;
	
}

#card-deck-player {
	width: 200px;
	height: 100%;
	border: 3px solid black;
	background-color: white;
	position: fixed;
	top: 0;
	left: 0;
	position: fixed;
}

#card-deck-opponent {
	width: 200px;
	height: 100%;
	border: 3px dotted black;
	position: fixed;
	top: 0;
	right: 0;
}